@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 3.9em;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255,255,255,.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes arrowDown {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}